* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

body {
    background: linear-gradient(90deg, rgba(130, 169, 247, 0.9570203081232493) 0%, rgba(249, 54, 54, 0.9514180672268907) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;

}

.logo {
    width: 50px;
    margin: 30px 0;
}

nav {
    width: 100%;
    text-align: right;
}

li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

.nav-link {
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.nav-link:hover {
    color: #f93636;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.column-1 {
    margin-left: 50px;
    position: relative;

}

h2 {
    font-size: 54px;
}

h3 {
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0;
}

.column-1 p {
    font-size: 16px;
    color: #b7b7b7;
    font-weight: 100;
}

.column-1::before {
    content: "";
    width: 10px;
    height: 57%;
    background: linear-gradient(0deg, rgba(249, 54, 54, 1) 41%, rgba(255, 186, 195, 1) 100%);
    position: absolute;
    left: -40px;
    top: 8px;
}

h4 {
    font-size: 20px;
    color: #000;
    margin: 30px 0;
}

.buy {
    width: 140px;
    border: none;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(249, 54, 54, 0.9514180672268907) 0%, rgba(247, 130, 146, 0.9570203081232493) 100%);
    z-index: 2;
    transition: all 0.5s ease-in-out;
}

.buy:hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 160px;
}

.buy:hover img {
    display: block;
}

.buy img {
    width: 30px;
    display: none;
}

.column-2 {
    display: flex;
    align-items: center;
    position: relative;
}

.controller {
    width: 90%;
    z-index: 2;
}

.color-box {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(0deg, rgba(249, 54, 54, 1) 41%, rgba(255, 186, 195, 1) 100%);
    height: 100%;
    width: 80%;
    border-radius: 20px 0 0 20px;
    z-index: 1;
    transform: translateX(150px);

}

.add-cart {
    z-index: 2;
    border: none;
    background-color: transparent;

    cursor: pointer;
}

.add-cart img {
    height: 100%;
    width: 100%;
    max-width: 55px;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links img {
    height: 20px;
    margin: 20px;
    cursor: pointer;
}

.menu-icon {
    width: 25px;
    margin-right: 15px;
    display: none;
}

/* MEDIA QUERY - RESPONSIVIDADE */
@media (max-width: 760px) {

    .container {
        width: 100vw;
        height: 100vh;
        border-radius: 0%;
        overflow-y: auto;
    }

    .row {
        flex-direction: column-reverse;
    }

    .column-2 {
        margin-bottom: 30px;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 25px;
        margin: 10px 0;
    }

    .column-1 p {
        font-size: 15px;
    }

    .color-box {
        transform: translateX(70px);
    }

    #menu-list {
        position: relative;
        top: 60px;
        left: 60px;
        overflow: hidden;
        transition: all 0.8s ease-in-out;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .nav-li {
        display: block;
        margin-top: 5px;
    }

}